
Button {
    fill-radius:  12;
    fill-color:   #a4fa;
    image-src:    "menu.png";
    image-region:  l5 t5 r-5 b-5;
    image-align:  left top;
    text-color:   #fff;
    text-align:   middle middle, 200ms back out;
    opacity:      0.8;
}

Button:hover {
    opacity:      1.0;
    fill-color:   #24ff;
    text-color:   #fff;
    text-align:   right middle, 200ms back out;
}


Button:active {
    opacity:      1.0;
    fill-color:   #84ff;
    text-color:   #fffa;
}

Edit {
    fill-color:    #2af, 2400ms quad;
    fill-radius:     22, 2400ms quad;
    text-align:      0.0 0.0;
    text-color:    #fff;
    text-area:       l140 t130 r-140 b-130;
    editable:        true;
    multiline:       true;
    tab-index:       0;
    sel-color:       #428;
    sel-background:  #fff;
}

Edit:hover {
    fill-color: #0000, 200ms quad;
}

Edit:focus {
    fill-color: #ffff, 200ms quad;
}