Button {
    fill-area:    l32 t32 r-32 b-32, 200ms quad;
    fill-radius:  32 32 32 0;
    fill-color:   #24fa;
    image-src:    "menu.png";
    image-region:  l5 t5 r-5 b-5;
    image-align:  left top;
    text-area:    l96 t0 r-96 b0;
    text-color:   #fff;
    text-align:   middle middle, 200ms back out;
    content:      "Hello.";
    opacity:      0.8;
}

Button:hover {
    opacity:      1.0;
    fill-color:   #24ff;
    text-color:   #fff;
    text-align:   right middle, 200ms back out;
}


Button:active {
    fill-area:    l64 t64 r-64 b-64, 200ms back out;
    opacity:      1.0;
    fill-color:   #84ff;
    text-color:   #fffa;
}