build
build*
!*.sh
!*.gn
.DS_Store
Thumbs.db
ssl
rtc/res/*
webrtc/res/samples/*
webrtc/streamer/samples/*
webrtc/res/data
*.crt
*.key
webrtc/res/_video_stream.h264
webrtc/res/_audio_stream.ogg
webrtc/res/ridge_racer.mp4
